*{
    margin: 0;
}
html,
body{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #999;
    background-image: url("images/background.png");
}
p{
    margin: 1em 0 1em 0;

}

header{
    display: block;
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a493c0;
    padding: 10px;
    font-size:medium;

}
nav a:visited,
nav a:link{
    color: white;
    text-decoration: none;
}
nav > ul {
    display: inline;
    padding: 0%;
}
main {
    display: flex;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 50%;
      
}
footer{
    display: block;
    background-color: grey;
    padding: 10px;
    border: 1.em;
    font-size: medium;


}

aside,
article{
    display: block;
    text-align: justify;
    block-size: 85%;
    padding: 0.5em;
}
@media Only screen and ( min-width: 768px)
} 
  
aside{
    display: block;
    text-align: left;
}

main{
    align-items: flex-start;

}

.columns{
    display: flex;
}

.pies{
    width: 200%;
    padding: 10%;
    margin: 10px;
    background-color: white;
    border: #999;
}
.pie img {
    width: 100%;
}




    
    